[submodule "Backend"]
	path = Backend
	url = https://github.com/Core829-Digital/iwhome.app-backend.git

[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Core829-Digital/iwhome.app-frontend.git